<div class="instock-button-wrapper {% if echo_type == 'mobile' %}mobile{% endif %}">
  <div class="instock-button">
    <input type="checkbox" id="custom-instock" value="yes">
    <div class="instock-button__indicator"></div>
    In Stock & Ready to Ship
  </div>
</div>

