<a class="product-download-spec" href="https://api.alofttiles.com/products_pdf/{{ product.id }}" target="_blank">
  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
    <path d="M6.5 10.1299L3.40338 7.03412L4.02287 6.40413L6.0625 8.44375V0.875H6.9375V8.44375L8.97625 6.405L9.59662 7.03412L6.5 10.1299ZM1.789 13.125C1.38592 13.125 1.04962 12.9902 0.780125 12.7207C0.510625 12.4513 0.375583 12.1147 0.375 11.711V9.59088H1.25V11.711C1.25 11.8458 1.306 11.9694 1.418 12.082C1.53 12.1946 1.65337 12.2506 1.78812 12.25H11.2119C11.346 12.25 11.4694 12.194 11.582 12.082C11.6946 11.97 11.7506 11.8463 11.75 11.711V9.59088H12.625V11.711C12.625 12.1141 12.4902 12.4504 12.2207 12.7199C11.9513 12.9894 11.6147 13.1244 11.211 13.125H1.789Z" fill="#171717"/>
  </svg>
  Download Spec Sheet
</a>