{% if product.metafields.product.product_type == 'sample' and product.metafields.product.list_bundle_products == blank %}
  <a class="product-view-tile-link" href="{{ product.metafields.product.original_product.value.url }}">View Tile</a>
{% endif %}